{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "some-other-config-you-use",
    "prettier"]
        },
    "rules": {
        "quotes": ["error", ]
    }
}
