:root  {
    --primary-color: #99b2df;
    --button-background:red;
    --button-font-color: black;
    --button-font: 'Mochiy Pop P One', sans-serif; /*japanese based font*/
}

*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body  {
    background: var(--primary-color);
}

.pokemon-list li  {
/*want to change this, something more dynamic*/
    margin: 25px, 50px, 75px;
    list-style: none;
    align-items: center;
}

.pressme  {
    /*want to make nice neat rows*/
    font-family: var(--button-font);
    font-size: 1.875em; /*14px/16=0.875em, got this from the internet*/
    margin: 10px;
    padding: 25px 50px;
    background-color: var(--button-background);
    /*added text shadow just for practice, take out in final app*/
    text-shadow: 1.5px 1.5px white;
    text-align: center;
    text-decoration-color: none; /*might want to add some*/
    color: var(--button-font-color);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 150px;
    border: 2px red;
    width: 250px;
    transition: 0.3s ease-out;
}

.pressme:hover {
    cursor: url('/project-cf-pokedex/img/Pokeball.cur'), auto; /*changed to pointer, cursor properties*/
    opacity: 0.6;
}

#modal-container {
    display: none;
}

#modal-container.is-visible {
    position: fixed;
    padding: 20;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100;
    height: 100;
    /* want to add a pokemon logo to the background of the modal*/
    background: rgba(0, 0, 0, 0.5);

    /*to show above other content*/
    z-index: 999;

    /*allow scrolling if screen isnt high enough*/
    overflow: auto;

    /*center the modal*/
    display: grid;
    text-align: center;
}

 .modal {
    margin: auto;
 }

 .modal-close {
    float: right;
 }

 .modal h1 {
    margin-top: 0;
 }

 .modal p {
    margin-bottom: 0;
 }