:root  {
    --primary-color: #99b2df;
    --button-background:red;
    --button-font-color: black;
    --button-font: 'Mochiy Pop P One', sans-serif; /*japanese based font*/
}

*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body  {
    background: var(--primary-color);
}

.pokemon-list li  {
/*want to change this, something more dynamic*/
    margin: 25px, 50px, 75px;
    list-style: none;
    align-items: center
}

.pressme  {
    /*want to make nice neat rows*/
    font-family: var(--button-font);
    font-size: 1.875em; /*14px/16=0.875em, got this from the internet*/
    margin: 10px;
    padding: 25px 50px;
    background: var(--button-background);
    /*added text shadow just for practice, take out in final app*/
    text-shadow: 1.5px 1.5px red;
    text-align: center;
    color: white;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 150px;
    border: none;
    width: 250px;
    transition: 0.3s ease-out;
    outline: none;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.pressme:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.pressme:active {
    color: #000
}

.pressme:active:after {
    background: transparent;
}

.pressme:hover:before {
    opacity: 1;
}

.pressme:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.pressme:hover {
    cursor: url('/project-cf-pokedex/img/Pokeball.cur'), auto; /*changed to pointer, cursor properties*/
    opacity: 0.6;
}